@font-face {
    font-family: ricc;
    src: url(./fonts/RifficFree-Bold.ttf);
}

@font-face {
    font-family: kg;
    src: url(./fonts/KGWhattheTeacherWants.ttf);
}


body{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: ricc;
    color: #535c4b;
    background-color: #000000;
}

header button{
    background-color: #ffffff;
    color: #6b6666;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#calculadora{
    max-width: 360px;
    background-color: #80817e60;
    backdrop-filter: blur(5.5px);
    box-shadow: 0 8px 30px black;
    padding: 20px;
    border-radius: 20px;
}

.videofundo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.videofundo video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#display{
    font-size: 22px;
    text-align: right;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 7px;
    color: #ffffff;
    background-color: #535c4b;
    border: none;
    box-sizing: border-box;
}

button{
    width: calc(25% - 12px);
    height: 50px;
    font-size: 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
    float: left;
}

.operador{
    background-color: #858d7f;
}

button:hover{
    cursor: pointer;
    background-color: #d6d0d0;
    box-shadow: 0 0 5px #000000;
    transform: scale(0.9);
}


/* --------- Modo Claro -------- */

.light-mode{
    background-color: #fffcfc;
}

.light-mode header button{
    background-color: #141414;
    color: #f5f0f0;
}